/*
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold

font-family: 'Nixie One', cursive;
font-family: 'Cinzel Decorative', cursive;
*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

img, video {
	max-width: 100%;
	display: block;
}

header {
    min-height: 800px;
}

nav {
    padding: 2% 0;
    border-bottom: double .5vw #FAF0CA;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
    color: black;
    font-size: 1.5vw;
    padding: 1%;
    margin: 5%;
    transition-duration: .2s;
}

nav a:hover {
    font-size: 1.7vw;
    text-shadow: 1vw 1vw 1vw;
}

.left:hover {
    text-shadow: -.2vw .4vw .5vw;
}

.right:hover {
    text-shadow: .2vw .4vw .5vw;
}

body {
    background: radial-gradient( #FAF0CA, #F4D35E);
    background-repeat: none;
}

blockquote {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3vw;
    padding: 1% 0; 
    border-bottom: double .5vw #FAF0CA;
    margin-top: 10%;
}

h1 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 8vw;
    width: 50%;
    margin: 5% 25%;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.1, 1.0, 1.0, 1.0);
    text-shadow: 0 .5vw .7vw black;
}

blockquote:hover #nocti {
    transform: rotate(200deg);
    margin: 0 40%;
    font-size: 7vw;
    text-shadow: none;
}

blockquote:hover #year {
    transform: rotate(-380deg);
    margin: 10% 0%;
    font-size: 7vw;
    text-shadow: none;
}

blockquote:hover #review {
    transform: rotate(-30deg);
    margin: 10% 50%;
    font-size: 7vw;
    text-shadow: none;
}

article {
    width: 80%;
    margin: 0 10%;
}

section {
    font-family: 'Nixie One', cursive;
    padding: 150px 20%;
    font-size: 2.5em;
    text-justify: inter-word;
    border-bottom: double .5vw #FAF0CA;
}

.l_btn {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Nixie One', cursive;
    width: 40%;
    margin: 2% 29%;
    text-align: center;
    padding: 1%;
    outline: solid .2vw #0D3B66;
    border-radius: .4vw;
    background-color: #F4D35E;
}

.btn:active, .l_btn:active {
    background-color: #0D3B66;
    outline: solid .2vw #F4D35E;
}

iframe {
    width: 100%;
    border-radius: .4vw;
    outline: solid .2vw #0D3B66;
}

#s-grid {
    display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-areas: 
		"it1 it2 it3"
         ;
      grid-gap: .3%;
      margin: 0 10%;
	justify-content: center;
}

#s-grid #col-1 {
    grid-area: it1;
}

#s-grid #col-2 {
    grid-area: it2;
}

#s-grid #col-3 {
    grid-area: it3;
}

#s-grid .grid-col {
    font-size: 1.5vw;
    text-align: center;
}

#s-grid img {
    width: 100%;
    outline: solid .2vw #0D3B66;
    border-radius: .4vw;
}

#s-grid .btn {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Nixie One', cursive;
    padding: 1%;
    outline: solid .2vw #0D3B66;
    border-radius: .4vw;
    background-color: #F4D35E;
    margin: 5% 0;
}

#s-grid .btn:active {
    background-color: #0D3B66;
    outline: solid .2vw #F4D35E;
}

#w-grid {
    width: 100%;
    margin: 0;
    display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-areas: 
		"it1 it2 it3"
        "it4 it5 it6"
         ;
      grid-gap: .3%;
	justify-content: center;
}

#w-grid #it-1 {
    grid-area: it1;
}

#w-grid #it-2 {
    grid-area: it2;
}

#w-grid #it-3 {
    grid-area: it3;
}

#w-grid #it-4 {
    grid-area: it4;
}

#w-grid #it-5 {
    grid-area: it5;
}

#w-grid #it-6 {
    grid-area: it6;
}

#w-grid img {
    width: 100%;
    outline: solid .2vw #0D3B66;
    border-radius: .4vw;
}

#w-grid figcaption {
    text-align: center;
}

.left_img {
    float: left;
}

.right_img {
    float: right;
}

.left_title {
    margin-left: 25%;
}

.right_title {
    margin-left: 60%;

}

section:nth-child(odd) {
    background-color: #FAF0CA;
}

.comp_cont:nth-child(odd) {
    border-radius: 0 0 .5vw .5vw;
}

.comp_cont img {
    width: 60%;
    outline: solid .2vw #0D3B66;
    border-radius: .4vw;
    margin: 2%;
}

.comp_cont h2 {
    text-align: center;
}

.comp_cont p {
    font-size: 1.5vw;
}


footer {
    padding: 10% 0;
    width: 100%;
    background-color: #0D3B66;
    float: clear;
}

footer form {
    width: 80%;
    margin: 0 10%;
    text-align: center;
    border-bottom: double .5vw #FAF0CA;
    border-radius: .4vw;
}

footer .btn {
    color: black;
    font-family: 'Nixie One', cursive;
    margin: 3%;
    padding: 1% 3%;
    outline: solid .2vw #0D3B66;
    border-radius: .4vw;
    background-color: #F4D35E;
    outline: solid .2vw #FAF0CA;
} 

footer .t-box {
    padding: 1%;
    font-size: 1.2vw;
    font-family: 'Nixie One', cursive;
    margin: 0 1.5%;
    border-radius: .4vw;
    background-color: #FAF0CA;
    outline: solid .2vw #F4D35E;
}

footer #questions {
    margin: 5% 1.5%;
    width: 70%;
}

footer label {
    font-family: 'Cinzel Decorative', cursive;
    color: black;
    font-size: 1.5vw;
}

footer p {
    text-align: center;
    color: #F4D35E;
    font-size: 2vw;
    margin-top: 2%;
}